body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #0d6efd; 
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .custom-header {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .custom-divider {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #cccccc;
  }
  
  h5 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  ul {
    margin-left: 0;
    padding-left: 1rem;
  }
  
 .custom-box {
    background-color: #c4c2c2; 
    padding: 1rem;            
    margin-bottom: 1rem;      
    border-radius: 4px;       
  }
  